

.title{
    display: grid;
    justify-content: center;
      padding:  25px;
  
  }
  .photo{
    padding-right: 20px;
      display: flex;
      height: 500px;
      
  }
  .section{
    padding: 15px;
      background-image: url(public/video_2024-12-25_18-38-00.gif);
     height: 750px;
     background-size: 100%;
     background-repeat: no-repeat;
     
      
  }
  .text{
    padding-left: 20px;
      margin: 10px;
      font-size: 26px;
      width: 500px;
      color : white ;
      
  }
  .wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
     
  }